<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		
		<add key="BaseUrl" value="http://localhost:3001" />
		<add key="RootEndpoint" value ="/"/>
		<add key="PaymentTransactionsService" value="/payment_transactions" />
		<add key="AdminUserName" value="codemonster" />
		<add key="AdminUserPassword" value="my5ecret-key2o2o" />
		
	</appSettings>
	
</configuration>


